name: Production

on: [workflow_dispatch]
  

jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Build
      run: dotnet publish .\psedit.csproj -o psedit

    - name: Release
      run: |
        Install-Module Microsoft.PowerShell.PSResourceGet -Scope CurrentUser -Force
        Register-PSResourceRepository -PSGallery
        Publish-PSResource -Path .\psedit -ApiKey $Env:APIKEY -Repository PSGallery
      env:
        APIKEY: ${{ secrets.APIKEY }}
      shell: pwsh
